<html>
	<head>
		<title>Skefesa</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Lista de Professores</h1>
		<hr>

        <form action="/filtrarAluno" method="post">

            <label for="nome">Nome (use % como cartere coringa):</label><br>
            <input type="text" name="nome" id="nome" size="30"><br><br>
            
            <input type="submit" name="filtrar" value="Filtrar">
        
        </form>

		<a href="/formAluno">Novo Aluno</a> &nbsp;
		<a href="/">Voltar para Tela Principal</a>&nbsp;

		<form action="/gerenciarAluno" method="post">
			<input type="submit" name="acao" value="Excluir">
			<input type="submit" name="acao" value="Atualizar">
			<table border="1">
				<tr>
					<th>Seleção</th>
					<th>Matricula</th>
					<th>Senha</th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Email</th>
					<th>Curso</th>
					<th>Professor</th>
				</tr>
				<% alunos.forEach((a, index) => { %>
				<tr>
					<td><input type="radio" name="matricula" value="<%= a.matricula %>"></td>
					<td><%= a.matricula %></td>
					<td><%= a.senha %></td>
					<td><%= a.nome %></td>
					<td><%= a.telefone %></td>
					<td><%= a.email %></td>
					<td><%= a.curso_id %></td>
					<td><%= a.professor_id %></td>
				</tr>
				<% }) %>
			</table>
		</form>
	</body>
</html>